# Ігноруємо віртуальне середовище
.venv/
venv/

# Ігноруємо кеш Python
__pycache__/
*.pyc

# Ігноруємо файли з паролями та ключами (важливо для безпеки!)
.env

# Ігноруємо файли IDE (наприклад, налаштування VS Code)
.vscode/
.idea/

#Ігнормуємо файл підлкючення до Бд
database.py